[Desktop Entry]
Name=Chomp
Comment=Simple tool for tracking calorie, proteins, fats and carbohydrates intake
Exec=chomp
Terminal=false
Type=Application
Categories=Utility;Application;
NoDisplay=false
